[submodule "adecc_Scholar"]
	path = adecc_Scholar
	url = https://github.com/blowfishfugu/adecc_Scholar.git
[submodule "pugiXML"]
	path = pugiXML
	url = https://github.com/zeux/pugixml.git
[submodule "Nuklear"]

	path = Nuklear

	url = https://github.com/Immediate-Mode-UI/Nuklear.git
